{% extends "users/layout.html" %} {% load static %} {% block content %}
<br /><br />
<div>
  <h3 class="text-center"><b>Запрошенные вакансии</b></h3>
  <hr my-2 />
  <div class="row">
    {% for job, status in zipped %}
    <div class="col-md-6">
      <div class="card card-signin my-2">
        <span class="ml-3 mt-3">
          <a href="{% url 'job-detail' job.job.slug %}"
            ><h4 class="text-dark">
              <b>{{job.job.title}} ({{job.job.job_type}})</b>
            </h4></a
          >
          <p style="font-size: 17px">
            {{job.job.company}}<br />{{job.job.location}}
          </p>
          <p style="font-size: 15px">
            {{job.job.description|truncatewords:30}} -
            <a href="{% url 'job-detail' job.job.slug %}">Читать дальше</a>
          </p>
        </span>
        <div class="card-footer">
          {% if status == 0 %}
          <span style="font-size: 16px"
            >Статус приложения:
            <b class="text-success text-uppercase ml-2">Выбранная</b></span
          >
          {% elif status == 1%}
          <span style="font-size: 16px"
            >Статус приложения:
            <b class="text-primary text-uppercase ml-2">В процессе</b></span
          >
          {% else %}
          <span style="font-size: 16px"
            >Статус приложения:
            <b class="text-danger text-uppercase ml-2">Откланена</b></span
          >
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
