{% extends "users/layout.html" %} {% load static %} {% block content %}
<br /><br />
<div style="background-color: white">
  <div class="row">
    <div class="col-md-6">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-4 text-center">Получите вашу следующую работу здесь!</h1>
        <p class="lead text-center">
          Не знаете, как получить отличную работу, мы здесь, чтобы помочь!
        </p>
        <p class="lead text-center">
          <a
            class="btn btn-primary btn-lg"
            href="{% url 'home' %}"
            role="button"
            >Ищите работу сейчас!</a
          >
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img
        class="img-fluid"
        src="https://dl.dropboxusercontent.com/s/9t7rpn96uwxhm0e/2895265.jpg?dl=0"
        alt="Hiring Image"
      />
    </div>
  </div>
  <div class="row">
    <div class="col md-6 border-right">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">Всегда бесплатно!</h1>
        <p class="lead text-center">
          Больше не нужно платить, чтобы получить идеальную работу!
        </p>
        <p class="lead text-center">
          Найдите среди множества вакансий ту, которая подходит вам.
           потребности, все бесплатно!
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">Получите подходящую работу!</h1>
        <p class="lead text-center">
          Получите работу, которая соответствует вашим потребностям! Нет необходимости искать
           различные работы и иметь дело с множеством фильтров.
        </p>
        <p class="lead text-center">
          Просто заполните свой профиль и получайте подходящую работу, основанную на ваших навыках!
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 md-8 lg-6 mx-auto">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">Скоро будет больше! </h1>
        <p class="lead text-center">
Скоро появятся многие другие функции, которые улучшат ваш опыт поиска работы
           и выведите его на новый уровень!
           <br /> Чего вы ждете? Начни сегодня!
        </p>
        <p class="lead text-center">
          <a
            class="btn btn-primary btn-lg"
            href="{% url 'home' %}"
            role="button"
            >Начни поиск работы!</a
          >
        </p>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
