{%extends "users/layout.html" %} {% load static %} {% block content %}
<br /><br />
<div>
<h3 class="text-center"><b>Наиболее подходящие для вас вакансии</b></h3><br>
{%if counter %}
  <div class="row">
    {% for job,common, job_skill in jobs %}
    <div class="col-md-6">
      <div class="card card-signin my-2">
        <span class="ml-3 mt-3">
          <a href="{% url 'job-detail' job.slug %}"
            ><h4 class="text-dark">
              <b>{{job.title}} ({{job.job_type}})</b>
            </h4></a
          >
          <p style="font-size: 17px">{{job.company}}<br />{{job.location}}</p>
          <p style="font-size: 15px">
            {{job.description|truncatewords:30}} -
            <a href="{% url 'job-detail' job.slug %}">Прочитать больше</a>
          </p>
        </span>
        <div class="card-footer">
          <span style="font-size: 18px"
            >У вас есть <b class="text-success">{{ common }} </b> из <b class="text-danger">{{ job_skill }}</b> навыки, необходимые для этой работы.</span
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br />
{% else %}
<p class="text-center">Сейчас для вас нет подходящей работы! Пожалуйста, проверьте ваш <a href="{% url 'my-profile' %}">профиль</a> заполнен.</p><br>
{% endif %}
</div>
{% endblock content %}
