{% extends "users/layout.html" %} {% load static %} {% load crispy_forms_tags %}
{% block content %} <br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="text-center">Profile Data</h3>
          <br />
          <form class="form-signin">
            <div class="form-group">
              <p>Имя: {{ profile.full_name }}</p>
              <p>Email: {{ u.email }}</p>
              <p>Страна: {{ profile.country.name }}</p>
              <p>Расположение: {{ profile.location }}</p>
              <p>Год окончания учёбы: {{ profile.grad_year }}</p>
              <p>Ищу: {{ profile.looking_for }}</p>
              {% if profile.resume %}
              <p>
                Резюме:
                <a href="{{ profile.resume.url }}">Click to View/Download</a>
              </p>
              {% else %}
              <p>Резюме: нет</p>
              {% endif %} {% if request.user == u %}
              <hr class="my-4" />
              <a
                class="btn btn-warning btn-block"
                href="{% url 'edit-profile' %}"
                >Изменить профиль</a
              ><br />

              <a class="btn btn-primary btn-block" href="{% url 'saved-jobs' %}"
                >Созранить работы</a
              ><br />
              <a
                class="btn btn-success btn-block"
                href="{% url 'applied-jobs' %}"
                >Поданные заявления</a
              >
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="text-center">Навыки ({{ skills.count }})</h3>
          <br />
          {% if request.user != u %}
          <ol>
            {% for skill in skills %}
            <li>{{skill.skill}}</li>
            {% endfor %}
          </ol>
          {% else %}
          <form class="form-signin" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <br />
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button
                class="btn btn-lg btn-outline-primary btn-block"
                type="submit"
              >
                Добавить навык</button
              ><br />
            </div>
          </form>
          <br />
          {% if skills %}
          <form
            class="form-signin"
            action="{% url 'skill-delete' %}"
            method="POST"
          >
            {% csrf_token %} {% for skill in skills %}
            <div>
              <input
                class="mr-2"
                type="checkbox"
                value="{{ skill.id }}"
                name="choices"
              />{{ skill.skill }}
            </div>
            {% endfor %}
            <br />
            <div class="form-group">
              <button
                class="btn btn-lg btn-outline-danger btn-block"
                type="submit"
                name="delete"
              >
                Удалить выбранные навыки</button
              ><br />
            </div>
          </form>
          {% endif %} {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
