{% extends "users/layout.html" %} {% load socialaccount %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-7 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="text-center"><b>Детали учетной записи</b></h3>
          <br />
          <form class="form-signin">
            <div class="form-group">
              <p class="text-center">Имя пользователя: {{user.username}}</p>
              <p class="text-center">Email: {{user.email}}</p>
              <hr class="my-4" />
              <h5 class="text-center">Свяжите свои учетные записи в социальных сетях</h5>
              <p class="text-center">
                <small style="font-size: 12px"
                  >(Если уже подключен, в этом нет необходимости)</small
                >
              </p>
              <hr class="my-4" />
              <a
                class="btn btn-outline-secondary btn-block"
                href="{% provider_login_url 'google' process='connect' %}"
                ><img
                  src="https://dl.dropboxusercontent.com/s/es5sylabbcaobjr/google.png?dl=0"
                  alt="Google"
                  height="35"
                  class="d-inline- mr-2"
                />Подключить Google</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
