{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://dl.dropboxusercontent.com/s/vqp7i2tv6uvc1gs/logofenice.jfif?dl=0"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://dl.dropboxusercontent.com/s/ecyb1drs5j1jyjf/styles.css?dl=0"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://dl.dropboxusercontent.com/s/xmxsoypfvfvsisb/footer.css?dl=0"
    />

    <style>
      body {
        font-family: "Georgia";
        font-size: 20px;
      }
    </style>

    {% block cssfiles %}{% endblock cssfiles %}
    <title>Поиск работы</title>
  </head>

  <body>
    {% if not rec_navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="{% url 'detail-candidates' %}">
        <img
          src="https://dl.dropboxusercontent.com/s/vqp7i2tv6uvc1gs/logofenice.jfif?dl=0"
          width="30"
          height="30"
          class="d-inline-block align-top mr-3"
          alt=""
        /><b>Поиск работы</b>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link {{ home_page }}" href="{% url 'home' %}"
            >Поиск работы</a
          >
          <a
            class="nav-item nav-link {{ profile_page }}"
            href="{% url 'my-profile' %}"
            >Мой профиль</a
          >
          <a
            class="nav-item nav-link {{ intel_page }}"
            href="{% url 'intelligent-search' %}"
            >Получите подходящую работу</a
          >
          <a
            class="nav-item nav-link {{ account_page }}"
            href="{% url 'account' %}"
            >Детали учетной записи</a
          >
          {% if user.is_authenticated %}
          <a
            class="nav-item nav-link btn btn-danger ml-4 mr-4 text-light"
            href="{% url 'logout' %}"
            >Выйти</a
          >
          <a class="nav-item nav-link" href="{% url 'add-job' %}"
            >Рекрутеры / Работодатели</a
          >
          {% else %}
          <a
            class="nav-item nav-link btn btn-success ml-4 mr-4 text-light"
            href="{% url 'login' %}"
            >Войти</a
          >
          <a class="nav-item nav-link" href="{% url 'detail-recruiters' %}"
            >Рекрутеры / Работодатели</a
          >
          {% endif %}
        </div>
      </div>
    </nav>
    {% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="{% url 'detail-recruiters' %}">
        <img
          src="https://dl.dropboxusercontent.com/s/vqp7i2tv6uvc1gs/logofenice.jfif?dl=0"
          width="30"
          height="30"
          class="d-inline-block align-top mr-3"
          alt=""
        /><b>Поиск работы</b>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a
            class="nav-item nav-link {{ rec_home_page }}"
            href="{% url 'detail-recruiters' %}"
            >Домашняя</a
          >
          <a
            class="nav-item nav-link {{ add_job_page }}"
            href="{% url 'add-job' %}"
            >Добавить вакансию</a
          >
          <a
            class="nav-item nav-link {{ manage_jobs_page }}"
            href="{% url 'job-list' %}"
            >Изменить вакансии</a
          >
          <a
            class="nav-item nav-link {{ search_candidates_page }}"
            href="{% url 'search-candidates' %}"
            >Поиск кандидатов</a
          >
          {% if user.is_authenticated %}
          <a
            class="nav-item nav-link btn btn-danger ml-4 mr-4 text-light"
            href="{% url 'logout' %}"
            >Выйти</a
          >
          {% else %}

          <a
            class="nav-item nav-link btn btn-success ml-4 mr-4 text-light"
            href="{% url 'login' %}"
            >Войти</a
          >
          {% endif %}
          <a class="nav-item nav-link" href="{% url 'home' %}"
            >Соискатели / кандидаты</a
          >
        </div>
      </div>
    </nav>
    {% endif %}
    <div class="container">{% block content %}{% endblock content %}</div>



    <!-- JS Files -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    {% block jsfiles %}{% endblock jsfiles %}
  </body>
</html>
