{% extends "users/layout.html" %} {% load socialaccount %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-7 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="text-center"><b>Войти</b></h3>
          <br />
          <form class="form-signin">
            <div class="form-group">
              <a
                class="btn btn-outline-secondary btn-block"
                href="{% provider_login_url 'google' %}"
                ><img
                  src="https://dl.dropboxusercontent.com/s/es5sylabbcaobjr/google.png?dl=0"
                  alt="Google"
                  height="30"
                  class="d-inline-block mr-2"
                />Войти через Google</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
