{% extends "users/layout.html" %} {% block cssfiles %}
<style>
  section.pricing {
  }

  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  .pricing hr {
    margin: 1.5rem 0;
  }

  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
  }

  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }

  .pricing .card-price .period {
    font-size: 0.8rem;
  }

  .pricing ul li {
    margin-bottom: 1rem;
  }

  .pricing .text-muted {
    opacity: 0.7;
  }

  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }

  /* Hover Effects on Card */

  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -0.25rem;
      margin-bottom: 0.25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }
</style>
{% endblock cssfiles %} {% block content %}
<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">
              Бесплатно
            </h5>
            <h6 class="card-price text-center">
              $0<span class="period">/month</span>
            </h6>
            <hr />
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                ><strong>Неограниченное количество вакансий</strong>
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>Стандартная видимость поиска
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>30 дней жизни вакансии
              </li>

              <li class="text-muted">
                <span class="fa-li"><i class="fas fa-times"></i></span> Нет рекомендаций от кандидатов на вакансию
              </li>

              <li class="text-muted">
                <span class="fa-li"><i class="fas fa-times"></i></span>Нет доступа к базе данных резюме
              </li>
            </ul>
            <a
              href="{% url 'add-job' %}"
              class="btn btn-block btn-success text-uppercase"
              >Начать</a
            >
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">
              Плюс
            </h5>
            <h6 class="card-price text-center">
              $49<span class="period">/месяц</span>
            </h6>
            <hr />
            <ul class="fa-ul">
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span
                ><strong>Неограниченное количество вакансий</strong>
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>В 1,5 раза выше видимость
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>90 дней жизни на вакансию
              </li>

              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>До 100 рекомендаций кандидатов на вакансию
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>До 100 просмотров резюме в месяц
              </li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase"
              >Купить</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div>
  <p class="text-center">
    <i
      >Все функции бесплатны в течение ограниченного времени, за исключением большей видимости для
       рабочие места!</i
    ><br />
    <span style="font-size: 14px"
      >Цены и функции могут быть изменены, поскольку мы продолжаем оценивать
       наша система. Мы завершим это, как только будем готовы запустить платную модель.
       и начинаем принимать платежи.</span
    >
  </p>
</div>
{% endblock content %}
