{% extends "users/layout.html" %} {% load static %} {% load crispy_forms_tags %}
{% block content %} <br />
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-8 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3 class="text-center">
            <b>Добавить новую вакансию</b>
          </h3>
          <span style="font-size: 14px"
            ><p class="text-center">
(Пожалуйста, внимательно прочтите вспомогательные тексты, указанные в полях.
               <br /> Из-за ошибок ваша работа может плохо работать!)
            </p></span
          >
          <form class="form-signin" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
              <br />
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-lg btn-success btn-block" type="submit">
               Опубликовать вакансию</button
              ><br /><br />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
