{% extends "users/layout.html" %} {% load static %} {% block content %}
<br /><br />
<div>
  <h3 class="text-center">
    <b>Претенденты на {{job.title}}</b>
  </h3>
  <br />
  {% if profiles %}
  <div class="row">
    {% for profile in profiles %}
    <div class="col-md-4">
      <div class="card card-signin my-5">
        <span class="ml-3 mt-3">
          <a href="{% url 'profile-view' profile.slug %}">
            {% if profile.full_name %}
            <h4 class="text-dark">
              <b>{{profile.full_name}}</b>
            </h4>
            {% else %}
            <h4 class="text-dark">
              <b>{{profile.user.username}}</b>
            </h4>
            {% endif %}
          </a>
          <p style="font-size: 17px">
            {{profile.user.email}}<br />{{profile.country.name}}
          </p>
          {% if profile.resume %}
          <a href="{{profile.resume.url}}">Нажмите здесь, чтобы просмотреть резюме</a>
          {% else %}
          <p>No Resume Provided!</p>
          {% endif %}
        </span>

        <div class="card-footer">
          <a
            class="btn btn-success mr-2"
            href="{% url 'select-applicant' can_id=profile.slug job_id=job.slug %}"
            >Выбрать
          </a>
          <a
            class="btn btn-danger mr-2"
            href="{% url 'remove-applicant' can_id=profile.slug job_id=job.slug %}"
            >Отклонить
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-center">
Новых приложений пока нет! Пожалуйста, зайдите позже! Идти к
     <a href="{% url 'selected-list' job.slug %}"> выбранному списку </a>, нажав
     здесь!
  </p>

  <br />
  {% endif %}
</div>
{% endblock content %}
