{% extends "users/layout.html" %} {% load static %} {% block content %}
<br /><br />
<div style="background-color: white">
  <div class="row">
    <div class="col-md-6">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-4 text-center">
          Наймите следующего лучшего кандидата здесь!
        </h1>
        <p class="lead text-center">
          Наем может быть утомительной задачей. Позвольте нам облегчить вам задачу!
        </p>
        <p class="lead text-center">
          <a
            class="btn btn-primary btn-lg"
            href="{% url 'add-job' %}"
            role="button"
            >Нанять</a
          >
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <img
        class="img-fluid"
        src="https://dl.dropboxusercontent.com/s/t80cdspg3wjoquj/4565.jpg?dl=0"
        alt="Hiring Image 2"
      />
    </div>
  </div>
  <div class="row">
    <div class="col md-6 border-right">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">
          Легко нанять! Начните с нескольких простых шагов!
        </h1>
        <p class="lead text-center">
          Делаем прием на работу максимально простым. Больше никаких хлопот. Просто войдите,
           добавьте необходимые данные о вакансии, и все готово!
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">Неограниченное количество вакансий. Бесплатно!</h1>
        <p class="lead text-center">
          Размещайте любое количество объявлений о вакансиях бесплатно. Мы не берем с вас плату
           за размещение вакансий!
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col md-6 border-right">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">
          Хотите быстрее получать результаты? Премиум!
        </h1>
        <p class="lead text-center">
          Сообщения о вакансиях премиум-пользователей становятся более заметными и, следовательно, получают больше
           соискателям в более короткие сроки! <br /> <br /> Все это за небольшую плату!
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">
          Получите рекомендованных кандидатов на вашу работу!
        </h1>
        <p class="lead text-center">
          Получите рекомендации кандидатов по каждой вакансии и сделайте свой найм
           намного быстрее, связавшись с ними напрямую. <br /> <br /> <i
             > Доступен в бесплатном тарифном плане в течение ограниченного времени!</i
          >
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 md-8 lg-6 mx-auto">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">
         Поиск по базе кандидатов!
        </h1>
        <p class="lead text-center">
          Найдите и посмотрите резюме каждого кандидата в нашей базе данных. Получить
           лучших кандидатов, подходящий для вашей работы, и напрямую свяжитесь с ним
           что приводит к быстрому найму!<br /><br /><i
            >Доступен в бесплатном плане в течение ограниченного времени!</i
          >
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 md-8 lg-6 mx-auto">
      <div style="background: transparent !important" class="jumbotron">
        <h1 class="display-5 text-center">Скоро появятся новые функции!</h1>
        <p class="lead text-center">
          Мы верим в облегчение процесса найма. Таким образом, мы продолжим
           добавлять новые функции по мере нашего прогресса и будем продолжать помогать вам с
           нанимаем лучших! <br /> <br /> Итак, чего вы ждете? Получайте
           преимущества раннего доступа и наслаждайтесь премиальными услугами бесплатно в течение
           ограниченного срока!
        </p>
        <p class="lead text-center">
          <a
            class="btn btn-primary btn-lg"
            href="{% url 'add-job' %}"
            role="button"
            >Размещайте вакансии прямо сейчас!</a
          >
        </p>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
