{% extends "users/layout.html" %} {% load static %} {% block content %}
<br />
<div>
  <h3 class="text-center">
    <b>Наиболее подходящие кандидаты на {{job.title}}</b>
  </h3>

  {% if relevant %}
  <div class="row">
    {% for profile, common in objects %}
    <div class="col-md-6">
      <div class="card card-signin my-2">
        <span class="ml-3 mt-3">
          <a href="{% url 'profile-view' profile.slug %}">
            {% if profile.full_name %}
            <h4 class="text-dark">
              <b>{{profile.full_name}}</b>
            </h4>
            {% else %}
            <h4 class="text-dark">
              <b>{{profile.user.username}}</b>
            </h4>
            {% endif %}
          </a>
          <p style="font-size: 17px">
            {{profile.user.email}}<br />
            {% if profile.location %} {{profile.location}} {% else %}
            {{profile.country.name}} {% endif %}
          </p>
        </span>
        <div class="card-footer">
          <span style="font-size: 18px"
            >Этот кандидат имеет <b class="text-success">{{ common }} </b> из
            <b class="text-danger">{{ job_skills }}</b> навыки, необходимые для этого
             работы.</span
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-center">
    Соответствующие кандидаты не нашли эту вакансию! Пожалуйста, проверьте
     <a href="{% url 'add-job-detail' job.slug %}"> данные о вакансии </a>, чтобы они были заполнены и
     следовали инструкциям.
  </p>
  <br />
  {% endif %}
</div>
{% endblock content %}
